* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

nav {
   display: flex;
   justify-content: space-between;
   background-color: #F8F8F8;
   color: #A3A3A3;
   font-weight: bold;
   font-family: arial;
   text-transform: uppercase;
   letter-spacing: .1rem;
   padding: 10px;
}

div.telephone-number {
	display: inline-block;
	color: #B6B6B6;
	font-size: 0.85rem;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   
}

.nav-links li {
   list-style-type: none;
   margin-left: 10px;
   float: right;
}

li.usd {
	border-left-style: solid;
}

input{
	border-style: hidden;
	background-color: #F8F8F8;
	
}

header {
	  background-image: url('plane.jpeg');
	  background-repeat: no-repeat;
	  color: #ffffff;
	  
}

header h1.{
   letter-spacing: .1rem;
}

section {
   width: 900px;
   margin: 0 auto;
}

header section {
   padding: 50px 0;
}

header h1 {
   font-size: 40px;
   margin: 0;
}

form button {
   padding: 10px 7px;
   border-radius: 5px;
   border: 0;
   background-image: url('magglass.png');
   background-size: ;
   cursor: pointer;
}

.main button {
   padding: 10px 7px;
   border-radius: 5px;
   border: 0;
   background-color: transparent;
   color: #ffffff;
   cursor: pointer;
}

main section {
   display: flex;
}

main section div:nth-child(2) {
   margin: 0 30px;
}
main button {
   background-color: #59626A;
}

footer section {
   margin-top: 20px;
   border-top: 1px solid #DFDFDF;
}